/*!
 * Whizz Player 0.1.0-alpha.1
 * Nathan Rignall
 * 18/09/2020
 */

.list-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-group-item {
  flex-basis: 14.2857%;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

  z-index: -1;

  opacity: 0.3;
}